* {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

.add-trail {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

.review {
  width: 295px;
}
.add-rvw-btn {
  width: 97px;
  align-self: flex-end;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}